:root {
    --color-name:red;
    --color-hex: #ffffff;
    --color-pink-rgb: rgb(224, 74, 212);
    --color-green-rgb-opaque: rgba(28, 197, 98, 0.5);

    --font: "Times New Roman", Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    border: 2rem dashed pink;
    border: 1rem solid var(--color-pink-rgb);
    padding: 1%;
}

p {
    font-size: 1.5rem;
    font-family: var(--font)
    color: pink;
    color: var(--color-pink-rgb);
    &:hover {
        background-color:lightgoldenrodyellow;
        background-color:var(--color-green-rgb-opaque);
    }
}

section {
    background-color: color-mix(in srgb, #34c9eb 25%, white);
}
article:has(ol) {
    border: 2px inset blue;
}

@keyframes color-swap {
    from {background-color: red;}
    to {background-color: blue;}
  }
  
  /* The element to apply the animation to */
  h1 {
    /*width: 100px;
    height: 100px;*/
    background-color: red;
    animation-name: color-swap;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  /*.alter-css {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100dvh;
    gap: 0.3rem;
  }*/

  .container {
    border: 1px solid black;

    display: flex;

    justify-content: space-between;

    justify-content: end;
  }

  .top-nav {
    display: flex;

    align-items: center;
    gap: 2rem;
  }

  /*max width is like <=*/
  @media screen and (max-width: 300px) {
    .container {
        border: 1px solid lime;
        gap: 2rem
    }
  }

  @media screen and (min-width: 700px) {

  }